/* the body of the webpage */
body {
    background-color: black;
    color: purple;
    width: 100%;
    margin: 0;
    
}

/*flexbox for the grid view */
.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.grid >.box {
    flex: 1 1 30%;
}


/* title and subtitle */
h1,
.subtitle {
    text-align: center;
}

.subtitle {
    color: white;
}

/* the individual boxes that makes up the grid */
.box {
    border: 1px dashed white;
    margin: 10px;
    padding: 5px;
    

}

/* the title for each box */
h2 {
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    bottom: 35px;
    z-index: 3;
    background-color: black;
}

/* the section of code within each box */
.code {
    background-color: purple;
    color: white;
}

/* the sentence within each box above the code */
p {
    padding-top: 0;
    
}